.App {
  text-align: center;
}

.home-style
{
  background-image: url("https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=612x612&w=0&k=20&c=A63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8=");
  height: 100vh;
}

.btn-style
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
}
.movielist-style
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 1em;
}

.movie-container
{
  width: 400px;
}

.poster-style
{
  width: 400px;
  height: 600px;
}
.movie-spec
{
  display: flex;
  flex-direction: row;
  height: 10vh;
  align-items: center;
}

.movie-spec
{
  display: flex;
  flex-direction:  row;
  justify-content: space-evenly;
}

.movieicon-style
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: .3em;
}
.moviedetail-style
{
  margin: 4em;
}

.trailer-style
{
  width: 100%;
  height: 400px;
}

.addmovie-style
{
  margin: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  
}



















.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
